[submodule "src/3rdparty/libpng"]
	path = src/3rdparty/libpng
	url = https://github.com/glennrp/libpng.git
[submodule "src/3rdparty/zlib"]
	path = src/3rdparty/zlib
	url = https://github.com/madler/zlib.git
[submodule "src/3rdparty/libjpeg-turbo"]
	path = src/3rdparty/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "src/3rdparty/al_bdf"]
	path = src/3rdparty/al_bdf
	url = https://github.com/leiradel/al_bdf.git
[submodule "src/3rdparty/vorbis"]
	path = src/3rdparty/vorbis
	url = https://gitlab.xiph.org/xiph/vorbis.git
[submodule "src/3rdparty/dr_libs"]
	path = src/3rdparty/dr_libs
	url = https://github.com/mackron/dr_libs.git
[submodule "src/3rdparty/ogg"]
	path = src/3rdparty/ogg
	url = https://gitlab.xiph.org/xiph/ogg.git
[submodule "src/3rdparty/speexdsp"]
	path = src/3rdparty/speexdsp
	url = https://gitlab.xiph.org/xiph/speexdsp.git
