[submodule "src/3rdparty/libpng"]
	path = src/3rdparty/libpng
	url = https://github.com/glennrp/libpng.git
[submodule "src/3rdparty/zlib"]
	path = src/3rdparty/zlib
	url = https://github.com/madler/zlib.git
[submodule "src/3rdparty/libjpeg-turbo"]
	path = src/3rdparty/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "src/3rdparty/al_bdf"]
	path = src/3rdparty/al_bdf
	url = https://github.com/leiradel/al_bdf.git
[submodule "src/3rdparty/miniaudio"]
	path = src/3rdparty/miniaudio
	url = https://github.com/mackron/miniaudio.git
