[submodule "src/3rdparty/libpng"]
	path = src/3rdparty/libpng
	url = https://github.com/glennrp/libpng.git
[submodule "src/3rdparty/zlib"]
	path = src/3rdparty/zlib
	url = https://github.com/madler/zlib.git
